@import url(./normalize.css);
@import url(./recipeCards.css);
@import url(./responsive.css);

*{
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

.logoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}

.logoWrapper img{
    width: 50px;
}

.logoWrapper h1{
    font-family: "DM sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #D04F4F;
    margin: 0;
}

#searchBar{
    width: 100%;
    height: 69px;
    background-color: #E7E7E7;
    border-radius: 5px;
    border: none;
}

#searchBar::placeholder{
    padding-left: 24px;
    font-weight: 400;
    font-size: 18px;
}

.search{
    display: flex;
    background-color: #E7E7E7;
    border-radius: 5px;
    border: none;
    margin: 17px 100px 20px 100px;
}

.search i {
    margin: auto;
    padding-right: 15px;
    font-size: 32px;
    
}

#searchMenu{
    display: flex;
    column-gap: 20px;
    margin-left: 100px;
}
.btnSelectIngredients{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    position: relative;
}
.btnSelectIngredients input{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
}
#searchMenu :first-child input{
    background-color: #3282F7;
}
#searchMenu :nth-child(2) input{
    background-color: #68D9A4;
}
#searchMenu :last-child input{
    background-color: #ED6454;
}


.btnSelectIngredients input::placeholder{
    color: white;
    padding-left: 15px;
    font-size: 18px;
}
.btnSelectIngredients i{
    color: white;
    position: absolute;
    right: 10%;
}
.ingredientDropDown{
    background-color: #3282F7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.ingredientDropDown li{
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    width: 37%;
    overflow: hidden;
}

#ingredientsList {
    display: none;
    grid-template-rows: 10;
    grid-template-columns: 1;
    color: black;
    width: 100%;
    height: 397px;
    position: absolute;
    background-color: #3282F7;
    left: 0px;
    margin-top: 0;
    overflow:scroll;
    border-radius: 0px 0px 5px 5px;
    flex-direction: column;
    flex-wrap: wrap;
}

#ustensilsList, #devicesList {
    display: none;
}

@media screen and (max-width: 749px) {

    .search{ 
        margin: 0;
        margin: auto;
        margin-bottom: 20px;
    }
    #searchMenu{
        margin: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .btnSelect{
        padding: 20px;
        width: 100%;
    }

    #ingredients{
        width: 50%;
    }
    
    #device{
        width: 50%;
    }
    
    #utensils{
        width: 50%;
    }

    .nameAndTime{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .timeAndIconWrapper{
        flex-direction: row;
    }
    .recipeCard{
        padding: 0px;
        height: 100px;
        margin: 0px 50px;
    }
    .recipeCard img{
        display: none;
    }
    .toDoWrapper{
        display: none;
    }
    #recipeCards {
        margin: 0;
        margin: auto;
        margin-top: 30px;
        row-gap: 20px;
    }
}